#small, #Medium, #Large {
    display: none;
}
@media(max-width: 300px){
    body{
        background-color: red;
    }
    #small{
        display: block;
        
    }
}
@media(min-width: 301px) and (max-width: 768px){
    body{
        background-color: green;
    }
    #Medium{
        display: block;
        
    }
}
@media(min-width:769px){
    body {
        background-color: blue;
    }
    #Large{
        display: block;
        
    }
    
}
